<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EventMaster{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"
</head>
<body>
    <nav class="navigation">
        <div class="logo">
            <a href="/" class="button button-black">EventMaster</a>
        </div>
        <div class="nav-tabs">
            <a href="/trainings" class="button button-gray">Events</a>
            <a href="/registrations" class="button button-gray">Registrations</a>
            <a href="/speakers" class="button button-gray">Speakers</a>
            <a href="/dashboard" class="button button-gray">Reports</a>
            <a href="/settings" class="button button-gray">Settings</a>
        </div>
    </nav>
    <div style="Padding: 0 20px; max-width: 1200px; margin: 0 auto;">
    {% block content %}{% endblock %}        
    </div>

    <footer class="footer" style="text-align:center">
        <p>&copy; 2026 EventMaster</p>
    </footer>
</body>
</html>